<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang='en'>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  
  <meta charset="utf-8">
	<link rel="stylesheet" href="/location_picker.css">
	<link rel="stylesheet" href="/application.css">
	
	</script>
  </head>
  <body>
  <div class="demo main">
    <div class='inner clearfix'>
      <img src='/images/BERGCloud_red-PNG.png'/>
      <hr/>
      <h2>Uh Oh, 404</h2>
      <p>Whoops, there's nothing here.</p>
      <p><a href='http://remote.bergcloud.com/'>Return to BERG Cloud</a>
    	
      <div class='foot'>
      </div>
    </div>
    <div class="bottom"></div>
  </div>

  </body>
  </html>

  
</body>
<footer>
    <div class="Footer">
    </div>
</footer>
</html>